@using WebApplication.Web.Models.Account;
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<div class="full-page login-bg">
    <div id="push"></div>
    <div class="container body-content">
        <div class="overlay-border col-xs-12 col-sm-8 col-md-4 col-lg-4 col-xs-offset-0 col-sm-offset-2 col-md-offset-4 col-lg-offset-4">
            <div class="overlay">
                <div class="center-form">
                    <form asp-controller="account" asp-action="login" method="post">
                        <table class="form-table">
                            <tr>
                                <th></th>
                                <th><h1>Login</h1></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="form-group">
                                        <label asp-for="Email"></label><br />
                                        <input type="email" asp-for="Email" />
                                        <span asp-validation-for="Email"></span>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="form-group">
                                        <label asp-for="Password"></label><br />
                                        <input type="password" asp-for="Password" />
                                        <span asp-validation-for="Password"></span>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="submit" value="Login" class="btn btn-default" />
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </form>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

