@using WebApplication.Web.Models.Account;

@model RegisterViewModel
    ViewData["Title"] = "PerspectiveDates";
}


<img src="https://pixabay.com/illustrations/music-melody-old-fashioned-1363069/">
<div id="push"></div>
<div class="container body-content">
    <div class="transparent-overlay col-xs-11 col-sm-7 col-md-4 col-lg-4">
        <div class="center-form">
            <h2>Perspective Dates</h2>
            <div class="container body-content">
                @*This needs to be in tile form like our store project *@
            </div>                
            </div>
    </div>
</div>
