@using WebApplication.Web.Models.Account;
@model RegisterViewModel
@{
    ViewData["Title"] = "RegistrationComplete";
}
<img class="bg-regComplete" src="https://pixabay.com/illustrations/music-melody-old-fashioned-1363069/" alt="old fashioned sheet music">
<div id="push"></div>
    <div class="container body-content">
        <div class="transparent-overlay col-xs-11 col-sm-7 col-md-4 col-lg-4">
            <div class="center-form">
                <ul>
                    <li>Welcome to the Early Music Dating site.</li>
                    <li>You are now officially registered.</li>
                    <li>Please click on Login to go to your Bio-page</li>

                </ul>

            </div>
        </div>

    </div>
   

