@using WebApplication.Web.Models;
@model User
@{
    ViewData["Title"] = "Register";
}
<div class="full-page registration-bg">
    <div id="push"></div>
    <div class="container body-content">
        <div class="overlay-border col-xs-12 col-sm-8 col-md-4 col-lg-4 col-xs-offset-0 col-sm-offset-2 col-md-offset-4 col-lg-offset-4">
            <div class="overlay">
                <div class="center-form">
                    <form asp-controller="account" asp-action="Register" method="post">
                        <table class="form-table">
                            <tr>
                                <th></th>
                                <th><h1>Register</h1></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="form-group">
                                        <label asp-for="Username"></label><br />
                                        <input type="text" asp-for="Username" />
                                        <span asp-validation-for="Username"></span>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="form-group">
                                        <label asp-for="HomeCity"></label><br />
                                        <input type="text" asp-for="HomeCity" />
                                        <span asp-validation-for="HomeCity"></span>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="form-group">
                                        <label asp-for="HomeState"></label><br />
                                        <input type="text" asp-for="HomeState" />
                                        <span asp-validation-for="HomeState"></span>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="form-group">
                                        <label asp-for="BirthDate"></label><br />
                                        <input type="date" asp-for="BirthDate" />
                                        <span asp-validation-for="BirthDate"></span>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="form-group">
                                        <label asp-for="Email"></label><br />
                                        <input type="email" asp-for="Email" />
                                        <span asp-validation-for="Email"></span>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="form-group">
                                        <label asp-for="PasswordHash"></label><br />
                                        <input type="password" asp-for="PasswordHash" />
                                        <span asp-validation-for="PasswordHash"></span>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-group">
                                        <label asp-for="ConfirmPassword"></label><br />
                                        <input type="password" asp-for="ConfirmPassword" />
                                        <span asp-validation-for="ConfirmPassword"></span>
                                    </div> 
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="submit" value="Register" class="btn btn-default submit-button" />
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </form>
                    <br />
                </div>
            </div>
            
        </div>
    </div>
</div>




