@using WebApplication.Web.Models.Account;
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<img class="bg-registration" src="~/images/musicdatingSmall.jpg" />
<div id="push"></div>
<div class="container body-content">
    <div class="transparent-overlay col-xs-11 col-sm-7 col-md-4 col-lg-4">
        <div class="center-form">
            <h2>Register</h2>
            <div class="container body-content">
                <form asp-controller="account" asp-action="Register" method="post"> 


                    <div class="form-group">
                        <label asp-for="Username"></label><br />
                        <input type="text" asp-for="Username" />
                        <span asp-validation-for="Username"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HomeCity"></label><br />
                        <input type="text" asp-for="HomeCity" />
                        <span asp-validation-for="HomeCity"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HomeState"></label><br />
                        <input type="text" asp-for="HomeState" />
                        <span asp-validation-for="HomeState"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BirthDate"></label><br />
                        <input type="date" asp-for="BirthDate" />
                        <span asp-validation-for="BirthDate"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label><br />
                        <input type="email" asp-for="Email" />
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label><br />
                        <input type="password" asp-for="Password" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label><br />
                        <input type="password" asp-for="ConfirmPassword" />
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div> 
                    <div class="form-group">
                       <label asp-for="SelfDescription"></label><br /> 
                       <textarea name="paragraph_text" cols="50" rows="10"></textarea> 
                        <span asp-validation-for="SelfDescription"></span>
                    </div>

                    <input type="submit" value="Register" class="btn btn-default" />
                </form>
            </div>
        </div>
    </div>
</div>



