@using WebApplication.Web.Models.Account;
@{
    ViewData["Title"] = "ShowProfile";
}


<label>@ViewData["description"]</label><br />
<img src="@ViewData["fileLocation"]">

<div class="col-md-3">
    <h5><strong>Status: </strong>Standard Member</h5>
    <h1>Choices</h1>
    <div class="list-group ">
        <p class="choices text=left">
            <ul class="noBullets">
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>  Home
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-heart"></span>
                    </a> Saved Favorites
                </li>
            </ul>
        </p>

    </div>
<style>
    .choices {
        display: block;
        text-align: left;
    }

</style>