@{
    ViewData["Title"] = "About HautBois.com";
}
<h2 class="hauttitle">@ViewData["Title"]</h2>


<p class="abouthaut">HautBois.com was founded by a bright young musician desperately seeking a partner with the same musical intrests as himself. We hope you can find your musical lover as well!!</p>
<img class="lutemadman" src="~/images/Lute_HALSFrans1581-1666BuffoonPlayingALute1623.jpg" /> 
<style>
    .hauttitle{ 
        color:white;
    } 
    .abouthaut{
        color:white;
    }
</style>