@{
    ViewData["Title"] = "Contact";
}
@*<h2>@ViewData["Title"]</h2>*@


<div class="contact">
 <address> 
    Sanctus Mass in b Minor<br />
    Thuringia, Germany 99423<br />
    <abbr title="Phone">P:</abbr>
    +49 4848 987830
 </address>

 <address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">johannsebastianbach@hautbois.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">handel-IT@hautbois.com</a>
 </address>  
</div>  
<img class="sexywoman" src="~/images/Elisabeth_Jacquet_de_La_Guerre-full.jpg" />
<style>
    .contact{
        color:white; 
        margin-left:70%; 
        margin-top: 5%;

    } 
    .sexywoman{ 
        margin-top:-17%;
    }

</style>
