@{
    ViewData["Title"] = "Home Page";
}
<a class="wordart" href="https://fontmeme.com/fonts/bd-renaissance-font/"><img src="https://fontmeme.com/permalink/190808/8d6431b3044f4232da9e10d85a9d63bc.png" alt="bd-renaissance-font" border="0"></a>
<h1 class="invitation">Where you can meet your musical lover</h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h4 class="instruct">Please Login or click on register if you have not created an account with Haut Bois </h4>

<div class="bg-image bg-image-homepage">
   <img class="index" src="~/images/musiclesson.jpg" />
</div> 


<style> 

   .index {
        width: 100%;
        vertical-align:bottom;
    }

    .wordart {
        position: absolute;
        top: 40%;
        left: 10%;
    }

    .invitation {
        position: absolute;
        top: 60%;
        left: 10%;
        color: chocolate;
    }
    .instruct {
        position: absolute;
        top: 80%;
        left:10%;
        color: coral;

    }
    
</style>