@{
    ViewData["Title"] = "Home Page";
}

<div class="full-page MusicLesson-bg">
    <div class="container fit-width">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a class="wordart" href="https://fontmeme.com/fonts/bd-renaissance-font/"><img src="https://fontmeme.com/permalink/190808/8d6431b3044f4232da9e10d85a9d63bc.png" alt="bd-renaissance-font" border="0"></a>
            </div>
        </div>
        
        <div class=" row invitation">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 style="margin-left: 13.5%;">here you can meet your musical lover</h1>
            </div>

            
           
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2></h2>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2></h2>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2></h2>
                </div>
            </div>

            <div class="row instruct" ">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h5>Click Login or Register to created an account with Haut Bois</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2></h2>
                </div>



                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2></h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2></h2>
                    </div>
                </div>
            </div>>
        </div>
    </div>
    </div>
        <style>
            .MusicLesson-bg {
                width: 100%;
                height: auto;
                background: url(../images/musiclesson.jpg) no-repeat center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                color: #8a6d3b;
            }

            .wordart {
               margin-left:10%;
                color: chocolate;
            }

            }

            .invitation {
                color: chocolate;
                
            }

            .instruct {
                margin-left:1%;
                color: coral;
            }
        </style>
    
