@{
    ViewData["Title"] = "Home Page";
}

<div class="full-page MusicLesson-bg">
    <div class="container fit-width">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>

        <div id="box" class="row">

            <a class="wordart" href="https://fontmeme.com/fonts/bd-renaissance-font/">
                <img src="https://fontmeme.com/permalink/190808/8d6431b3044f4232da9e10d85a9d63bc.png" alt="bd-renaissance-font" border="0">
            </a>
        </div>

        @*<div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>*@


        <div class=" row ">
            <div class="invitation  col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 id="demobox" style="margin-left: 21%;"><span style="font-family:'Palatino'">here you can meet your musical lover</span></h1>
            </div>
        </div>



        <div class="row instruct">
            <div id="smbox" class="placement">
                <p><span style="font-family:'Palatino'">Click Login or Register to create an account with Haut Bois</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
            </div>
        </div>
    </div>
</div>


       <style>
            .MusicLesson-bg {
                width: 100%;
                height: auto;
                background: url(../images/musiclesson.jpg) no-repeat center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                color: #8a6d3b;
            }

            .wordart {
               margin-left:1%;
                color: chocolate;
            }
            #box {
                background-color: #edb;
                padding: 10px;
                margin-right:9%;
                margin-left: 6%;
                border: 1px solid brown;
                border-radius: 13px;
            }

            }

            .invitation {
                color: chocolate;
            }
            #demobox {
                background-color: #edb;
                margin-left:20%;
                margin-right: 30%;
                padding: 3px;
                padding-left:8.5px;
                border: 1px solid brown;
                border-radius:13px;
            }
            .placement{
                margin-left:43%;
                margin-right:7%;
            }

            .instruct {
                margin-left:1%;
                margin-right:33.5%;
                color: coral;
                font-size:15px;
            }
            #smbox {
                height:30px;
                background-color: #edb;
                border: 1px solid brown;
                border-radius: 13px;
                padding-left: 5px;
                padding-top:3.5px;
            }
        </style>
    
