@model User
@{
    ViewData["Title"] = "_Navbar";
}



@if (Model == null)
{
    <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
    <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
}
else
{
    int newMessages = 0;
    foreach (KeyValuePair<string, Message> kvp in Model.ListOfMessages)
    {
        if (!kvp.Value.isRead)
        {
            newMessages++;
        }
    }
    <li><a asp-area="" asp-controller="Account" asp-action="Inbox">Inbox: @newMessages new message(s)</a></li>
    <li><a asp-area="" asp-controller="Account" asp-action="PerspectiveDates">Find a Match!</a></li>
    <li><a asp-area="" asp-controller="Account" asp-action="BioPage">Welcome @Model.Username</a></li>
    <li><a asp-area="" asp-controller="Account" asp-action="Logoff">Logout</a></li>
}